
<div style="text-align: center; font-size: 40px; margin-top: 230px; color: white">
    <strong>Hi {{userDetails.username}} !!! </strong>
</div>
<div ng-if="!welcome_dashboard" class="successfull-login" style="text-align: center; font-size: 45px; margin-top: 50px; color: white">
    <strong> You are successfully logged in.</strong>
</div>

<div ng-if="welcome_dashboard" class="welcome-dashboard" style="text-align: center; font-size: 60px; margin-top: 50px; opacity: 0; color: white">
    <strong>Welcome to Dashboard</strong>
</div>